SQLAlchemy>=1.4.19
snowflake-connector-python<4.0.0
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
